
body {    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    margin: 0;    
}

@font-face  {
    font-family: Edmondsans;
    src: url("fonts/Edmondsans-Regular.otf") format("opentype");
}

@font-face {
    font-family: DancingSuperserif;
    src:url('fonts/DancingSuperserif.ttf.woff') format('woff');    
        font-weight: normal;
        font-style: normal;
}

/* header section */

.navigation {
    display: block;
    height: 50px;  
}

h1 {
    font-family: DancingSuperserif;
    font-size: 6rem;
    background-color: #e22f24;  /* this colour is used on the University of London website, which is appropriate as this theme park is UoL Land */
    text-align: center;
    margin: 0; 
}

nav {
    background-color: #0055a6; /* this colour is used on the University of London website, which is appropriate as this theme park is UoL Land */
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
}

nav li {
    list-style-type: none;
    display: inline-block;  
}

nav a {   
    font-family: Edmondsans, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.announcements {
    border-bottom: 1px solid;
}

.announcements ul {
    display: flex;
    justify-content: space-around; 
}

.announcements li {  
    list-style-type: none;
    display: inline-block; 
}

/* footer */

footer  {
    font-weight: 600;
}

footer a {
    color: black;
    text-decoration: none;
}