

/* main */
.intro {
    font-size: 1.5rem;
    font-weight: 400;
}

.attraction {
    background-color: #0055a6;
    width: 400px;
}

.attraction h4 {
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    color: white;
    margin: 0;   
}

.map {
    background-color: #e22f24;
    width: 400px;
}

.map h4 {
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    color: white;
    margin: 0;
}