

/* main */
.intro {
    font-size: 1.5rem;
    font-weight: 400;
}

.button {
    width: 400px;
}

.button img {
    width: 400px;
}

.button h4 {
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    color: white;
    margin: 0;   
}

.tickets h4, .attractions h4 {
    background-color: #e22f24;
}

.attraction .button {
    background-color: #0055a6;    
}

.attraction h4 {
    background-color: #0055a6;  
}

.map {
    background-color: #e22f24; 
}

.map h4 {
    font-size: 1.7rem;
    font-weight: 700;
    text-align: center;
    color: white;
    margin: 0;
}

/* layout */

main {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 200px auto auto auto auto auto;
}


.picture {
    display: block;
    grid-column: 1 / 2;
    grid-row: 1 / 4;  
 
}

.picture img  {
    object-fit: contain;
    width: 100%;
    max-height: 100%;
}

.map img {
     object-fit: contain;
   width: 100%;
    max-height: 100%; }

.intro {
    display: block; 
    padding: 1rem;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    overflow: hidden;
}

.button {
    width: 400px;   
    margin: 1rem auto 1rem auto;   
}


.attractions {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.tickets {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}


.attraction1 {
    grid-column: 2 / 3;        
}

.attraction2 {
    grid-column: 2 / 3;        
}

.map {
    display: block;
    grid-column: 1 / 2;
    grid-row: 4 / 6;
}     