
/* main */


#ticketPrices table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 30%;
}

#ticketPrices table th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 15px;
  font-size: 1.17em;
}

#ticketPrices table td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 10px;
}

.hotel p {
    width: 40%;    
}

.hotel li {
    margin-bottom: 5px;
}